@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body{
    background-color: #FFD1AF;
}
h1{
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
    color: #A63231;
    text-transform: uppercase;
}
.main-page .btn-panel .d-flex .btn{
    background-color: #A73131;
    color: white;
}

/* cashier main login */
.cashier-login-page .align-items-center .col-lg-4{
    background-color: #FC9A63;
    padding: 30px;
    border-radius: 10px;
}
.cashier-login-page .align-items-center .btn{
    background-color: #A83232;
    color: white;
    border-radius: 5px;
    width: 100%;
}
.cashier-login-page .align-items-center .forgot-pw{
    color: rgb(0, 0, 0);
}
/* dash-board */
.cashier-dashboard-page .card{
    padding: 20px;
    background-color: #A63231;
}
.cashier-dashboard-page a{
    text-decoration: none;
    color: white;
}